.root {
  flex-grow: 1;
  height: 10vh;
}

.menuButton {
  margin-right: 16px;
}

h6.title {
  display: block;
  margin: 0 24px;
  position: relative;
  cursor: pointer;
}
.spacing {
  flex-grow: 3;
}
.cart {
  margin: 0 24px;
  cursor: pointer;
  color: white;
}
.sectionDesktop {
  display: none;
}
.sectionMobile {
  display: flex;
}

.drawerRoot {
  width: 100%;
  min-width: 300px;
}

.authenButton {
  margin: 0 24px;
}

@media (min-width: 960px) {
  .sectionDesktop {
    display: flex;
  }

  .sectionMobile {
    display: none;
  }
}
